{% extends 'base.html' %}
{% block title %}
    纵横小说网爬虫数据分析
{% endblock %}
{% block carousel %}

{% endblock %}
{% block context %}
    <!--====== Error Section Start ======-->
    <section class="error-page p-t-130 p-b-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="error-page-content-wrapper text-center">
                        <div class="error-image wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <img src="/static/picture/error-404.png" alt="error 404">
                        </div>
                        <div class="error-page-content p-t-80 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1500ms">
                            <h2>出错啦!</h2>
                            <p>找不到页面</p>
                            <a href="/index" class="template-btn m-t-35">
                                返回首页 <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
