{% extends 'base.html' %}
{% block title %}
    纵横中文网小说数据分析-团队
{% endblock %}
{% block context %}
    <!--====== Start Team Loop ======-->
    <section class="team-member-area section-half-dots-pattern-fixed p-t-130 p-b-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="common-heading tagline-boxed text-center m-b-60">
                        <span class="tagline">生产实习第四小组</span>
                        <h2 class="title">西安邮电大学理学院信息与计算科学专业信息1802班生产实习第四小组</h2>
                    </div>
                </div>
            </div>

            <div class="row team-members">
                <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member-box m-b-30">
                        <div class="member-photo">
                            <img class="img-responsive center-block team-img" src="/static/picture/member-1.jpg" alt="Member Photo">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">柳鹏程</a></h5>
                            <p class="title">组长 &amp; 后端及数据库开发</p>
                            <ul class="social-links">
                                <li class="QQ"><a href="#"><i class="fab fa-qq"></i></a></li>
                                <li class="WeiChat"><a href="#"><i class="fab fa-weixin"></i></a></li>
                                <li class="weibo"><a href="#"><i class="fab fa-weibo"></i></a></li>
                                <li class="Telphone"><a href="#"><i class="fas fa-tty"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member-box m-b-30">
                        <div class="member-photo">
                            <img class="img-responsive center-block team-img" src="/static/picture/liang-1.jpg" alt="Member Photo">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">梁佳丽</a></h5>
                            <p class="title">可视化展示页面开发</p>
                            <ul class="social-links">
                                <li class="QQ"><a href="#"><i class="fab fa-qq"></i></a></li>
                                <li class="WeiChat"><a href="#"><i class="fab fa-weixin"></i></a></li>
                                <li class="weibo"><a href="#"><i class="fab fa-weibo"></i></a></li>
                                <li class="Telphone"><a href="#"><i class="fas fa-tty"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="member-box m-b-30">
                        <div class="member-photo">
                            <img class="img-responsive center-block team-img" src="/static/picture/ruan-1.jpg" alt="Member Photo">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">阮晓萌</a></h5>
                            <p class="title">Echarts数据整理，分类统计页面开发</p>
                            <ul class="social-links">
                                <li class="QQ"><a href="#"><i class="fab fa-qq"></i></a></li>
                                <li class="WeiChat"><a href="#"><i class="fab fa-weixin"></i></a></li>
                                <li class="weibo"><a href="#"><i class="fab fa-weibo"></i></a></li>
                                <li class="Telphone"><a href="#"><i class="fas fa-tty"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="member-box m-b-30">
                        <div class="member-photo">
                            <img class="img-responsive center-block team-img" src="/static/picture/dong-1.jpg" alt="Member Photo">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">东姣</a></h5>
                            <p class="title">词云分析数据整理，页面开发</p>
                            <ul class="social-links">
                                <li class="QQ"><a href="#"><i class="fab fa-qq"></i></a></li>
                                <li class="WeiChat"><a href="#"><i class="fab fa-weixin"></i></a></li>
                                <li class="weibo"><a href="#"><i class="fab fa-weibo"></i></a></li>
                                <li class="Telphone"><a href="#"><i class="fas fa-tty"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End Team Loop ======-->
{% endblock %}