{% extends 'base.html' %}
{% block title %}
    纵横中文网小说数据分析-词云
{% endblock %}
{% block context %}
    <section class="bg-soft-grey-color-2 p-t-50 p-b-50">
        <div class="container">
            <div class="common-heading-2 text-center m-b-40">
                <span class="tagline">纵横中文网小说爬虫数据分析-词汇分析</span>
            </div>
            <div class="row justify-content-center py-5 bg-dark">
                <img class="img-fluid" src="/static/picture/tree-cn.png" >
            </div>
        </div>
    </section>
{% endblock %}